
body {

    background: rgb(6, 97, 216);
    color: rgb(244, 232, 9);

}

div#area {

    font: normal 20pt Arial;
    background: rgb(244, 232, 9);
    color:rgb(6, 97, 216);
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;

}